<div class="user-create">
  <h1>Create user with a role:</h1>
  <div class="user-create-form">
    <form [formGroup]="createUserFormGroup" (ngSubmit)="onCreateUser(createUserFormGroup.value)">
      <div>
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput type="text" formControlName="email">
      </mat-form-field>
      </div>
      <div>
      
        <mat-form-field appearance="fill">
        <mat-label>Role</mat-label>
        
        <input type="text" placeholder="Select role" aria-label="Role" matInput formControlName="role" [matAutocomplete]="auto">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredRoles | async" [value]="option.role">{{option.role}}</mat-option>
        </mat-autocomplete>
      </mat-form-field>
      </div>
      
      <button mat-button color="primary" [disabled]="createUserFormGroup.invalid" type="submit">Submit</button>
    </form>
  </div>
</div>