<div class="user-create">
  <h1>Create user with a role:</h1>
  <div class="user-create-form">
    <form [formGroup]="createUserFormGroup" (ngSubmit)="onCreateUser(createUserFormGroup.value)">
      <div>
      <mat-form-field appearance="fill">
    
        <mat-label>Email</mat-label>
        <input matInput type="text" formControlName="email">
        <mat-hint>Enter your email address</mat-hint>
        <mat-error *ngIf="createUserFormGroup.controls['email'].hasError('email') && !createUserFormGroup.controls['email'].hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="createUserFormGroup.controls['email'] .hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
    
      </mat-form-field>
      </div>
      <div>
      
      <mat-form-field appearance="fill">
    
        <mat-label>Role</mat-label>
        <input type="text" placeholder="Select role" aria-label="Role" matInput formControlName="role" [matAutocomplete]="auto">
        <mat-hint>Enter your role</mat-hint>
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredRoles$ | async" [value]="option.role">{{option.role}}</mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="createUserFormGroup.controls['role'] .hasError('required')">
          Role is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="createUserFormGroup.controls['role'] .hasError('idNotFound')">
          RoleId was not found
        </mat-error>

      </mat-form-field>
      </div>
      
      <button mat-button color="primary" [disabled]="createUserFormGroup.invalid" type="submit">Submit</button>
    </form>
  </div>
</div>